# SMTP serveur, example : smtp.gmail.com
smtp.host=smtp.gmail.com

# Mail Port, example : 587 or 25
smtp.port=587

# Mail Auth User, example : user@gmail.com
# Comment if no auth
smtp.user=user@gmail.com

# Mail Auth Password
# Comment if no auth
smtp.password=password

# Mail TLS : true ou false
smtp.ssl=true

# Mail user from
mail.from="Play20StartApp@yourdomain.com"

# Mail sign
mail.sign=The Play20StartApp Team

