@(resetForm: Form[controllers.account.Reset.ResetForm], token: String)

@import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

    @scripts = {
        <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
    }

@main(null, scripts) {

    <h3>@Messages("signup.reset.password")</h3>

    @wflash()

    <div class="col col-lg-8">
        @Messages("resetpassword.new.password")

        @form(controllers.account.routes.Reset.runReset(token)) {

            <div class="form-group">
                @inputPassword(
                    resetForm("inputPassword"),
                    'placeholder -> Messages("password"),
                    '_label -> null,
                    'class -> "form-control"
                )
                <h6>@Messages("signup.generate.password")</h6>
                <input type="text" name="passwordGenerated" class="form-control">

            </div>

            <hr>

            <input type="submit" class="btn btn-primary" value="@Messages("validate")">
            <a href="@routes.Application.index" class="btn btn-default">@Messages("goback")</a>

        }
    </div>

}
