@(resetForm: Form[controllers.account.Reset.ResetForm], token:String)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@main(null, scripts) {

    <h3>@Messages("signup.reset.password")</h3>

    @wflash()

    @Messages("resetpassword.new.password")
    @form(controllers.account.routes.Reset.runReset(token)) {

        <fieldset>
            @inputPassword(
                resetForm("inputPassword"),
                'placeholder -> Messages("password"),
                '_label -> null
            )

            <div id="passwordStrengthDiv" class="is0"></div>

            <input type="text" name="passwordGenerated">
            <div id="passwordStrengthDiv2" class="is0"></div>

        </fieldset>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="@Messages("validate")">
            <a href="@routes.Application.index" class="btn">@Messages("goback")</a>
        </div>
    }
}
