@(signupForm: Form[Application.Register])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

<h3>@Messages("signup.new")</h3>

@form(controllers.account.routes.Signup.save()) {

<fieldset>
    @inputText(
        signupForm("email"),
        'placeholder -> Messages("email"),
        '_label -> null
    )
    @inputText(
        signupForm("fullname"),
        'placeholder -> Messages("fullname"),
        '_label -> null
    )
    @inputPassword(
        signupForm("inputPassword"),
        '_label -> null,
        'placeholder -> Messages("password")
    )
    <h6>@Messages("signup.generate.password")</h6>
    <input type="text" name="passwordGenerated" />
</fieldset>

<div class="form-actions">
    <input type="submit" class="btn primary" value="@Messages("signup.signup")">
</div>
}

