@(signupForm: Form[Application.Register], loginForm: Form[Application.Login])

@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@main(null, scripts) {

  @wflash()

  <div class="span3">
      Sed (saepe enim redeo ad Scipionem, cuius omnis sermo erat de amicitia) querebatur, quod omnibus in rebus homines diligentiores essent; capras et oves quot quisque haberet, dicere posse, amicos quot haberet, non posse dicere et in illis quidem parandis adhibere curam, in amicis eligendis neglegentis esse nec habere quasi signa quaedam et notas, quibus eos qui ad amicitias essent idonei, iudicarent. Sunt igitur firmi et stabiles et constantes eligendi; cuius generis est magna penuria. Et iudicare difficile est sane nisi expertum; experiendum autem est in ipsa amicitia. Ita praecurrit amicitia iudicium tollitque experiendi potestatem.
  </div>

  <div class="span8">
    <div class="well">
      @login(loginForm)
    </div>
    
    <div class="well">
      @account.signup.createFormOnly(signupForm)
    </div>
  </div>
}